/* RESET */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

/* DEBUG */

body{
    background-color: black;
    height: 100vh;
}

/* HEADER */

header{
    background-color: black;
    height: 30px;
    text-align: right;
    line-height: 30px;
}

.header-button{
    color: white;
    background-color: gray;
    border-radius: 10px;
    padding: 5px 5px;
    margin-top: 2px;
    cursor: pointer;
}

.header-icon{
    padding: 5px 5px;
    border-radius: 10px;
    background-color: grey;
    color: white;
    margin-top: 3px;
    margin-right: 5px;
    cursor: pointer;
}

/* MAIN */

main{
    height: calc(100% - 90px);
    width: 90%;
    margin: auto;
    overflow-y: auto;
}

.main-row{
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
}

.main-col{
    position: relative;
    width: calc(100% / 7 - 5px);
    margin-right: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.users{
    width: 100%;
    display: block;
}

.user-name{
    position: absolute;
    left: 0;
    bottom: 4px;
    font-size: 14px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 3px;
}

/* FOOTER */

footer{
    background-color: #2222;
    height: 60px;
}

.footer-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.footer-col-small{
    padding-left: 5px;
    display: flex;
}

.footer-col-big{
    display: flex;
}

.end-col{
    padding: 22px;
    font-size: 13px;
    color: red;
    background-color: #4a4a4a;
    cursor: pointer;
}

.footer-btn{
    display: flex;
    position: relative;
    flex-direction: column;
    padding-left: 2px;
    padding: 0 5px;
}

.footer-icons{
    font-size: 10px;
    text-align: center;
    padding: 0 5px;
}

.footer-icon-name{
    font-size: 10px;
    padding-top: 2px
}

.chevron{
   padding-top: 5px;
   padding-left: 5px;
   padding-right: 5px;
   font-size: 10px;
}

.share{
    color: lightgreen;
}
